:root {
  --primary-color: #1c7ddd;
  --secondary-color: #e74c3c;
  --text-color: #ecf0f1;
}

body {
  font-family: "Roboto", sans-serif;
}
.divider {
  border-left: 1px solid var(--text-color);
  margin: 0 20px; /* Ajusta el valor según sea necesario */
  height: 100%;
}

.navbar-color {
  background-color: var(--primary-color);
}

.navbar-logo {
  height: 50px;
  margin-right: 10px;
}

.nav-link {
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  margin: 0 15px; /* Nueva línea: Ajusta el valor según sea necesario */
}

.nav-link:hover {
  color: var(--secondary-color);
}

.btn-personal-autorizado {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-left: 50px; /* Nueva línea: Ajusta el valor según sea necesario */
}

.btn-personal-autorizado:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Estilos para el menú Offcanvas */
.offcanvas-header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.offcanvas-body {
  background-color: var(--primary-color);
}

/* Estilo para el botón del menú en pantallas pequeñas */
.d-md-none {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.d-md-none:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
