.navbar-color-cliente {
  background-color: var(--cliente-navbar-bg);
}

.navbar-color-administrador {
  background-color: var(--administrador-navbar-bg);
}

.navbar-color-mesero {
  background-color: var(--mesero-navbar-bg);
}

.body-content {
  padding-top: 70px; 
}

.mt-custom {
  margin-top: 0px; /* Cambia 10px al valor deseado */
}


.navbar {
  position: relative; 
  z-index: 1000; 
}

.brand-logo {
  height: 65px;
  object-fit: contain;
}

.nav-link {
  margin-right: 15px;
}

.link-unstyled {
  text-decoration: none;
  color: inherit;
}

.nav-link .link-unstyled {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-dropdown {
  position: relative;
}

.btn-outline-light {
  border-color: white;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.offcanvas-header,
.offcanvas-body {
  padding: 1rem;
}

@media (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
}

.offcanvas .nav-dropdown .nav-dropdown-item {
  padding: 0.25rem 1rem;
}

.nav-item-spacing .nav-link {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .nav-link {
    margin-right: 5px;
  }
}
