body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.body-content {
    background: url('https://unsplash.com/photos/7maFk2X9KZo/download?force=true') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;  /* Esto asegura que la div tenga al menos la altura de la ventana del navegador */
    overflow: auto;  /* Esto permite el desplazamiento si hay contenido que se desborda de la div */
}
